@model DvdStore.Models.Category
@{
    Layout = "Dashboard";
}


<h2>Edit Category</h2>

@if (Model == null)
{
    <p>Category not found.</p>
}
else
{
    <form asp-action="EditCategory" method="post" class="mb-3">
        <div class="row">
            <input type="hidden" asp-for="@Model.CategoryID" />
            <div class="col-md-4">
                <input type="text" name="CategoryName" value="@Model.CategoryName" placeholder="Category Name" class="form-control" required />
            </div>
            <div class="col-md-6">
                <input type="text" name="Description" value="@Model.Description" placeholder="Description" class="form-control" />
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">Add</button>
            </div>
        </div>
    </form>
}